body {
  background-color: #fcecda;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid #3F0200;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  border-radius: 6px;
}
nav{
  grid-column: span 12;
}
ul{
  list-style-type: none;
    margin-left: 840px;
}

ul li{
  display: inline;


}

ul li a{
    text-decoration: none;
    color: #3F0200;
    margin-left: 50px;
    font-family: Roboto, sans-serif;
    font-weight: lighter;
}


header{
  padding-right: 300px;
  height: 600px;
  background-image: url(gradientbg.jpg);
  background-size: 1200px;
  grid-column: span 12;
  margin-bottom: 0;
    border: 1px solid #76302D;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

}

aside{
  grid-column: span 12;
  margin-top: 0;
  border: 1px solid #3F0200;

}

aside h2{
  font-family: 'Sora';
  font-size: 36px;
  color: #3F0200;
  padding: 25px;
  padding-left: 55px;
/*  border-bottom: 1px solid #76302D; */
  margin-top: 0;
  margin-bottom: 10px;
}

/* aside a{
  margin-top: 0;
  padding-top: 0;
  border:
} */

.Pic1{
  width: 500px;
  border: 2px solid #282525;
  margin-right: 20px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  border-radius: 6px;
  transition: width 1s, box-shadow 1s;
}

.Pic1:hover{
  box-shadow: 6px 6px 0px 0px #282525; /* x, y, blur, color */
  width: 525px;
}

/* .Pic1:visited{

}

/* style for dummy columns, delete and replace with your own CSS */
.Title{
  font-family: 'Sora';
  font-size: 48px;
  font-weight: bolder;
  padding: 50px;
  color: #ffffff;
}

.carousel {
  color: #170724;

  --carousel-button-bg: #fff;
  --carousel-button-shadow: 0 2px 2px -0px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0
          0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  --carousel-button-svg-stroke-width: 2.5;
  --carousel-button-border: 1px solid 282525;
}


.carousel__slide {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: 640px;
  margin-right: 6px;

  background-color: #ffffff;
  border-radius: 6px;
}

.Icon{

}

#button1{
  display: block;
  grid-column: span 12;
  width: 100px;
  padding: 15px;
  margin-left: 50px;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #9D4440;
    border: 1px solid #3F0200;
    font-family: 'Sora';
}
