.wrapper{
  margin: 1em auto;
  padding: 0;
  width: 960px;
  border: 3px solid blue;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header{
  grid-column: span 12;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(46,46,154,1) 0%, rgba(0,212,255,1) 100%);
  padding-left: 25px;

}

header a{
  font-family: helvetica, sans-serif;
  font-style: italic;
  font-weight: normal;
  color: #ADD8E6;
  text-decoration: none;
}

header a:hover{
  color: blue;
  text-decoration: underline;
}

nav{
  grid-column: span 12;
  margin: 0;
  padding: 0;
}

nav ul{
  margin: 0;
  padding: 0;
  background: rgba(46,46,154,1);
}
nav li{
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  padding-bottom: 20px;
}

nav li a{
  display: block;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  color: #ADD8E6;
  text-decoration: none;
  width: 202px;
  height: 0px;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(46,46,154,1) 0%, rgba(0,212,255,1) 100%);
  padding: 15px;
  margin: 0px;
  padding-left: 20px;

  /* border: 3px solid blue; */
}


.Title2{
  Font-family: helvetica, sans-serif;
  font-weight: normal;
  padding-bottom: 5px;
  border-bottom: 3px solid blue;
  color: blue;
}

aside{
  grid-column: span 12;
  margin: 20px 20px 0 20px;

}
 .boldp{
   font-family: georgia, sans-serif;
   font-weight: bold;
   text-align: justify;
 }

.lightp{
     font-family: georgia, sans-serif;
}

.redlink{
  color: red;
  font-family: georgia, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

a.redlink:hover {
  color: blue;
  text-decoration: underline;
}
 #floatdan{
   float: left;
   border: 3px solid blue;
   margin-right: 15px;
   margin-bottom: 15px;
 }

 #floatgirl{
   float: right;
   border: 3px solid blue;
   margin-left: 15px;
   margin-bottom: 15px;
 }
main{
  grid-column: span 12;
  margin: 0px 20px 20px 20px;
}

.Images{
 border: 3px solid blue;
 margin: 5px;
}
footer{
  grid-column: span 12;
  background-color: red;
  border: 3px solid blue;
  padding: 10px
}
