body {
  background-color: #fcecda;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid #3F0200;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  border-radius: 6px;
}
nav{
  grid-column: span 12;
}
ul{
  list-style-type: none;
    margin-left: 840px;
}

ul li{
  display: inline;


}

ul li a{
    text-decoration: none;
    color: #3F0200;
    margin-left: 50px;
    font-family: Roboto, sans-serif;
    font-weight: lighter;
}


header{
  padding-right: 300px;
  height: 600px;
  background-image: url(gradientbg.jpg);
  background-size: 1200px;
  grid-column: span 12;
  margin-bottom: 0;
    border: 1px solid #76302D;
}

aside{
  grid-column: span 12;
  margin-top: 0;
  border: 1px solid #3F0200;

}

aside h2{
  font-family: 'Sora';
  font-size: 36px;
  color: #3F0200;
  padding: 25px;
  /* border-bottom: 1px solid #76302D; */
  margin-top: 0;
  margin-bottom: 10px;
}

.Pic1{
  width: 500px;
  border: 1px solid #3F0200;
  margin-right: 20px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  box-shadow: 4px 4px 4px #666; /* x, y, blur, color */
   border-radius: 6px;
}

/* .Pic1:visited{

}

/* style for dummy columns, delete and replace with your own CSS */
.Title{
  font-family: 'Sora';
  font-size: 48px;
  font-weight: bolder;
  padding: 50px;
  color: #ffffff;
}

.Icon{

}

#button1{
  display: block;
  grid-column: span 12;
  width: 100px;
  padding: 15px;
  margin-left: 50px;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #9D4440;
    border: 1px solid #3F0200;
    font-family: 'Sora';
}
