header {
  grid-column: span 6;
}

#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 960px;
  border: 1px solid #ff0000;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
nav {
  grid-column: span 1;

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {

}

nav li a {
  display: block;
  background-color: red;
  border: 1px solid black;
  padding: 1em;
  color: white;
  text-decoration: none;
}

.p1, .p2 {
  border: 1px solid #ff0000;
}

.floatimage{
  margin: 20px;
  float: left;
}

main {
  grid-column: span 4;
  margin-right: 10px;
}

main h2 {
  margin-top: 6px;

}
aside {
    grid-column: span 1;

}

footer {
  grid-column: span 5;
}
